{% load static %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>login</title>
	<link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>
<body>
	<div class="container">
	 <div class="row" >
	  <div class="col-md-6"> 
	  	<div class="card">
	  	 <form action="login" method="post"  class="box">
			{% csrf_token %}
	  	  <h1>Login</h1> <p class="text-muted" style="color: grey;">
			 {% for msg in messages %}
			<h2>{{msg}}</h2>
			{% endfor %}</p>
	  	   <input type="text" name="email" placeholder="E-mail">
	  	   <input type="password" name="password" placeholder="Password">
		   <a class="forgot text-muted" href="#">Forgot password?</a>
	  	   <input type="submit" name="" value="Login" href={% url 'profile' %}>
	  	 </form>
	  	 </div>
	  </div>
	 </div>
    </div>

</body>
</html>
